*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-box{
    height: 600px;
    width: 600px;
    margin: 100px;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: -20px;
}

.grid{
    height: 100%;
    width: 100%;
    border: 1px solid black;

}

.gridHover{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}

.grid-column{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.button{
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    flex: 1;
}